<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Bodega Pineda</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link href="~/Content/css/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/Content/css/ripples.min.css" rel="stylesheet" />

    <!--END MATERIAL DESIGN-->

    <!--AWENSOME ICONS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CSP.NET Pineda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                        <li>@Html.ActionLink("Productores", "Index", "Productores")</li>
                        <li>@Html.ActionLink("Compras", "Index", "Compras")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Public/app.js")
    @Scripts.Render("https://code.angularjs.org/1.4.9/angular-route.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.min.js")
    @Scripts.Render("https://code.angularjs.org/1.5.6/angular-animate.min.js")
    
    @RenderSection("scripts", required: false)

    
    <!--CONTROLLERS-->
    @Scripts.Render("~/Public/Controllers/ProductosController.js")
    @Scripts.Render("~/Public/Controllers/ProductoresController.js")
    @Scripts.Render("~/Public/Controllers/ComprasController.js")




    <!--SERVICIO-->
    @Scripts.Render("~/Public/Servicios/ProductosService.js")
    @Scripts.Render("~/Public/Servicios/ProductoresService.js")
    @Scripts.Render("~/Public/Servicios/ComprasService.js")



    <footer class="panel-footer">
        <!--START theFinancials.com Content-->
        <!--copyright theFinancials.com - All Rights Reserved-->
        <!--Get Help by Calling 1.843.886.3635-->
        <!--specify 'bgcolor', 'fontcolor' and 'bordercolor' using 3- or 6-character color codes - DO NOT include '#' in the color codes-->
        <!--use 'numtileswide=1' to display the widget vertically, 'numtileswide=0' to display it horizontally, or use another value for other layouts-->
        <!--set 'scrollSpeedFromZeroToTen' to 0 to disable scrolling, or use value from 1 (slow) to 10 (fast) to control scroll speed-->
        <script LANGUAGE='JavaScript' type='text/javascript' SRC='http://www.thefinancials.com/ShowPanel.aspx?pid=free&id=71&bgcolor=003366&fontcolor=ffffff&fontsize=13&bordercolor=c0c0c0&numtileswide=0&mode=js&scrollSpeedFromZeroToTen=5'></script>
        <!--END theFinancials.com Content-->
    </footer>
</body>
</html>
